<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <!--<ng-container *ngFor="let user of usuarioModelGet">-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
          </li>
          <!--</ng-container>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/hoteles" routerLinkActive="active">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active">Buscar Hotel</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>